* {
    font-family: "Fontdiner Swanky", cursive;
    color: rgb(37, 212, 37);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0c0c0c;
    padding: 1rem;
}

header {
    text-align: center;
    padding: 2rem 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rebeccapurple;
    font-size: 2.5rem;
}

h1,
p {
    cursor: default;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input:focus {
    outline: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}

.text-container p {
    padding: 1rem;
}

#main-text {
    font-size: 2rem;
}

#hint {
    color: silver;
    font-size: 1.5rem;
}

#hint:empty {
    display: none;
}

.guess-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.game-btn:active {
    border-style: inset;
    transform: translate(2px, 2px);
}

#guess {
    width: 12rem;
    color: #0c0c0c;
    background-color: rgb(37, 212, 37);
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 32px rgb(37, 212, 37);
}

.game-btn {
    cursor: pointer;
    width: 12rem;
    color: white;
    background-color: indigo;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.75rem;
    border: 6px outset rebeccapurple;
    border-radius: 10px;
    box-shadow: 0 0 64px indigo;
}

input:not([hidden]) ~ button {
    margin: 1.25rem;
}
